<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nodeCharacteristics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.dataflowanalysis.pcm.extension.nodecharacteristics.nodecharacteristics.presentation.NodeCharacteristicsModelWizardID"
            name="%_UI_NodeCharacteristicsModelWizard_label"
            class="org.dataflowanalysis.pcm.extension.nodecharacteristics.nodecharacteristics.presentation.NodeCharacteristicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NodeCharacteristicsModelFile.gif">
         <description>%_UI_NodeCharacteristicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nodeCharacteristics -->
      <editor
            id="org.dataflowanalysis.pcm.extension.nodecharacteristics.nodecharacteristics.presentation.NodeCharacteristicsEditorID"
            name="%_UI_NodeCharacteristicsEditor_label"
            icon="icons/full/obj16/NodeCharacteristicsModelFile.gif"
            extensions="nodecharacteristics"
            class="org.dataflowanalysis.pcm.extension.nodecharacteristics.nodecharacteristics.presentation.NodeCharacteristicsEditor"
            contributorClass="org.dataflowanalysis.pcm.extension.nodecharacteristics.nodecharacteristics.presentation.NodeCharacteristicsActionBarContributor">
      </editor>
   </extension>
</plugin>
