<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nodeCharacteristics -->
      <package
            uri="http://www.example.org/nodeCharacteristics"
            class="org.palladiosimulator.dataflow.nodecharacteristics.nodecharacteristics.NodeCharacteristicsPackage"
            genModel="model/nodeCharacteristics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated nodeCharacteristics -->
      <parser
            type="nodecharacteristics"
            class="org.palladiosimulator.dataflow.nodecharacteristics.nodecharacteristics.util.NodeCharacteristicsResourceFactoryImpl"/>
   </extension>

</plugin>
